= partial("header")

%div.row.media-kit-main
  %div.large-3.columns
    %h3 Media Info
  %div.large-9.columns
    %h3 Media Contact
    %p.address
      Chicago Il, 60607
    %p.address
      David Wald
    %p.address
      david@dough.com
    %p.address
      312.274.1072
    %p.address
      19 N Sangamon St
    %p.address
      Chicago, IL 60607
    %hr
      %div.row
        %div.large-12.columns
          %h3 Photos
        - load_images.each do |file_hash|
          %div.large-3.columns
            %a{ href: "#{file_hash[:full]}"}
              %img{ src: "#{file_hash[:thumb]}", class: "main-body-image"}
              %span= file_hash[:file_name]
    %hr
      %div.row
        %div.large-3.columns
          = image_tag image_path("headshots/headshot_tom_circle.png")
        %div.large-9.columns
          %h3 Tom Sosnoff
          %p 
            Tom Sosnoff is the co-CEO of dough, Inc., a newly formed company that includes tastytrade and dough.com. 
          %p 
            Mr. Sosnoff is the founder of tastytrade, the fastest growing online financial network. As the founder, Mr. Sosnoff has led tastytrade to produce eight hours of original, live programming each weekday. He hosts shows and segments, with programming designed to appeal to various investment levels from beginner to professional. Tom injects his sense of humor and love of investing into every segment, and truly lives tastytrade’s mission of increasing financial literacy around investing.
          %p 
            Additionally, Mr. Sosnoff conceptualized dough.com, a revolutionary combination of educational content and an easy-to-use, visual trading platform. dough’s do-it-yourself approach to investing and learning about investment strategies empowers millennials and other new traders.
          %p 
            Prior to tastytrade and dough, Tom founded thinkorswim, which sold to TD Ameritrade for $750M in 2009. Tom is a recognized online brokerage innovator and sought-after financial educator. Leveraging over 20 years of experience as a market maker for the Chicago Board Options Exchange (CBOE) and one of the original OEX traders in the S&P 100 Index pit, Tom pursued a vision to educate retail investors in options trading and to build a superior software platform at a brokerage firm that specialized in options. His efforts ultimately changed the way these instruments traded by pioneering everything from single click complex trading functionality to multi product access from a single platform.

      %div.row.lower-profile
        %div.large-3.columns
          = image_tag image_path("headshots/headshot_kristi_circle.png")
        %div.large-9.columns
          %h3 Kristi Ross
          %p 
            Kristi Ross is the Co-CEO & President of dough Inc., a newly formed company that includes tastytrade, the fastest growing online financial network and dough, a financial technology content aggregator. Ms. Ross has dedicated her career to bringing financial technology to the masses and making investing more intuitive and visual through tech. Prior to dough, Inc., Ms. Ross was the CFO of thinkorswim -- a trading technologyplatform offers industry-leading trading tools, streaming real-time data, and powerful analytics, all in one fully integrated platform -- which sold to TD Ameritrade for $750M in 2009. As CFO of thinkorswim, Ms. Ross led numerous mergers, acquisitions and integrations. Prior to thinkorswim, Ms. Ross was CFO of Automated Trading Desk Specialists, a stock specialist on the Chicago Stock Exchange (CHX). Ms. Ross started her career in public accounting, specializing in financial services industry clientele including individual traders, proprietary, market makers, specialists, discount brokerage and advisory firms. She is also a certified public accountant and has been in and around the trading business for more than 20 years.


= partial("footer")
