= partial("header")

%div.row.media-kit-main
  %div.large-3.columns
    %h3 Media Info
  %div.large-9.columns
    %h3 Media Contact
    %p.address
      [Someone Really] 
    %p.address
      19 N Sangamon St
    %p.address
      Chicago Il, 60607
    %hr
      %h3 Photos
      - load_images.each do |file|
        %div.large-3.columns
          = image_tag image_path(file), :class => "main-body-image"
    %hr
      %div.row
        %div.large-3.columns
          = image_tag image_path("headshots/headshot_tom_circle.png")
        %div.large-9.columns
          %h3 Tom Sosnoff
          %p Lorem ipsum text
      %div.row.lower-profile
        %div.large-3.columns
          = image_tag image_path("headshots/headshot_kristi_circle.png")
        %div.large-9.columns
          %h3 Kristi Ross
          %p Lorem ipsum text

= partial("footer")
